* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn.ant-btn-primary {
  background-color: #1890ff;
}

.ant-btn.ant-btn-primary:hover {
  background-color: #023869;
}
